<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaolian.demo.data.dao.BigdaiorderMapper">
  <resultMap id="BaseResultMap" type="com.zhaolian.demo.data.entity.Bigdaiorder">
    <!--@mbg.generated-->
    <!--@Table BIGDAIORDER-->
    <id column="BOID" jdbcType="DECIMAL" property="boid" />
    <result column="USERSID" jdbcType="DECIMAL" property="usersid" />
    <result column="BDID" jdbcType="DECIMAL" property="bdid" />
    <result column="BIGMONEY" jdbcType="DECIMAL" property="bigmoney" />
    <result column="BIGDAI_DATE" jdbcType="DECIMAL" property="bigdaiDate" />
    <result column="YIHUAN" jdbcType="DECIMAL" property="yihuan" />
    <result column="HUAN_CARD" jdbcType="DECIMAL" property="huanCard" />
    <result column="SHOU_CARD" jdbcType="DECIMAL" property="shouCard" />
    <result column="DAI_DATE" jdbcType="TIMESTAMP" property="daiDate" />
    <result column="ONEMONEY" jdbcType="DECIMAL" property="onemoney" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />

  </resultMap>

  <!--  自定义 查询大额贷款-->
  <select id="big_dk_all" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from bigdaiorder where DAI_DATE between to_date(#{start},'yyyy-MM-dd') and to_date(#{end},'yyyy-MM-dd')
  </select>

  <!--  自定义 查询大额贷款一天的总数-->
  <select id="big_dk_count" parameterType="java.lang.String" resultType="int">
    select sum (BIGMONEY) from bigdaiorder where DAI_DATE >= to_date(#{dates},'yyyy-MM-dd hh24:mi:ss') and <![CDATA[ DAI_DATE < to_date(#{datesOne},'yyyy-MM-dd hh24:mi:ss')]]>
  </select>

  <!--  自定义 查询大额贷款一月的总数-->
  <select id="big_month_count" parameterType="java.lang.Integer" resultType="int">
    select sum (BIGMONEY) from bigdaiorder where to_number(to_char(DAI_DATE,'MM')) = #{month}
  </select>


  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    BOID, USERSID, BDID, BIGMONEY, BIGDAI_DATE, YIHUAN, HUAN_CARD, SHOU_CARD, DAI_DATE, 
    ONEMONEY, "STATUS"
  </sql>
  <select id="selectall" resultMap="BaseResultMap">
  select * from BIGDAIORDER b  join USERS u on  b.USERSID=u.USERSID join BIGDAI d
on b.BDID = d.BDID

</select>




  <select id="selectByExample" parameterType="com.zhaolian.demo.data.entity.BigdaiorderExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BIGDAIORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from BIGDAIORDER
    where BOID = #{boid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    <!--@mbg.generated-->
    delete from BIGDAIORDER
    where BOID = #{boid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhaolian.demo.data.entity.BigdaiorderExample">
    <!--@mbg.generated-->
    delete from BIGDAIORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhaolian.demo.data.entity.Bigdaiorder">
    <!--@mbg.generated-->
    insert into BIGDAIORDER (BOID, USERSID, BDID, 
      BIGMONEY, BIGDAI_DATE, YIHUAN, 
      HUAN_CARD, SHOU_CARD, DAI_DATE, 
      ONEMONEY, "STATUS")
    values (#{boid,jdbcType=DECIMAL}, #{usersid,jdbcType=DECIMAL}, #{bdid,jdbcType=DECIMAL}, 
      #{bigmoney,jdbcType=DECIMAL}, #{bigdaiDate,jdbcType=DECIMAL}, #{yihuan,jdbcType=DECIMAL}, 
      #{huanCard,jdbcType=DECIMAL}, #{shouCard,jdbcType=DECIMAL}, #{daiDate,jdbcType=TIMESTAMP}, 
      #{onemoney,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaolian.demo.data.entity.Bigdaiorder">
    <!--@mbg.generated-->
    insert into BIGDAIORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="boid != null">
        BOID,
      </if>
      <if test="usersid != null">
        USERSID,
      </if>
      <if test="bdid != null">
        BDID,
      </if>
      <if test="bigmoney != null">
        BIGMONEY,
      </if>
      <if test="bigdaiDate != null">
        BIGDAI_DATE,
      </if>
      <if test="yihuan != null">
        YIHUAN,
      </if>
      <if test="huanCard != null">
        HUAN_CARD,
      </if>
      <if test="shouCard != null">
        SHOU_CARD,
      </if>
      <if test="daiDate != null">
        DAI_DATE,
      </if>
      <if test="onemoney != null">
        ONEMONEY,
      </if>
      <if test="status != null">
        "STATUS",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="boid != null">
        #{boid,jdbcType=DECIMAL},
      </if>
      <if test="usersid != null">
        #{usersid,jdbcType=DECIMAL},
      </if>
      <if test="bdid != null">
        #{bdid,jdbcType=DECIMAL},
      </if>
      <if test="bigmoney != null">
        #{bigmoney,jdbcType=DECIMAL},
      </if>
      <if test="bigdaiDate != null">
        #{bigdaiDate,jdbcType=DECIMAL},
      </if>
      <if test="yihuan != null">
        #{yihuan,jdbcType=DECIMAL},
      </if>
      <if test="huanCard != null">
        #{huanCard,jdbcType=DECIMAL},
      </if>
      <if test="shouCard != null">
        #{shouCard,jdbcType=DECIMAL},
      </if>
      <if test="daiDate != null">
        #{daiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="onemoney != null">
        #{onemoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhaolian.demo.data.entity.BigdaiorderExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from BIGDAIORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update BIGDAIORDER
    <set>
      <if test="record.boid != null">
        BOID = #{record.boid,jdbcType=DECIMAL},
      </if>
      <if test="record.usersid != null">
        USERSID = #{record.usersid,jdbcType=DECIMAL},
      </if>
      <if test="record.bdid != null">
        BDID = #{record.bdid,jdbcType=DECIMAL},
      </if>
      <if test="record.bigmoney != null">
        BIGMONEY = #{record.bigmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.bigdaiDate != null">
        BIGDAI_DATE = #{record.bigdaiDate,jdbcType=DECIMAL},
      </if>
      <if test="record.yihuan != null">
        YIHUAN = #{record.yihuan,jdbcType=DECIMAL},
      </if>
      <if test="record.huanCard != null">
        HUAN_CARD = #{record.huanCard,jdbcType=DECIMAL},
      </if>
      <if test="record.shouCard != null">
        SHOU_CARD = #{record.shouCard,jdbcType=DECIMAL},
      </if>
      <if test="record.daiDate != null">
        DAI_DATE = #{record.daiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.onemoney != null">
        ONEMONEY = #{record.onemoney,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        "STATUS" = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update BIGDAIORDER
    set BOID = #{record.boid,jdbcType=DECIMAL},
      USERSID = #{record.usersid,jdbcType=DECIMAL},
      BDID = #{record.bdid,jdbcType=DECIMAL},
      BIGMONEY = #{record.bigmoney,jdbcType=DECIMAL},
      BIGDAI_DATE = #{record.bigdaiDate,jdbcType=DECIMAL},
      YIHUAN = #{record.yihuan,jdbcType=DECIMAL},
      HUAN_CARD = #{record.huanCard,jdbcType=DECIMAL},
      SHOU_CARD = #{record.shouCard,jdbcType=DECIMAL},
      DAI_DATE = #{record.daiDate,jdbcType=TIMESTAMP},
      ONEMONEY = #{record.onemoney,jdbcType=DECIMAL},
      "STATUS" = #{record.status,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaolian.demo.data.entity.Bigdaiorder">
    <!--@mbg.generated-->
    update BIGDAIORDER
    <set>
      <if test="usersid != null">
        USERSID = #{usersid,jdbcType=DECIMAL},
      </if>
      <if test="bdid != null">
        BDID = #{bdid,jdbcType=DECIMAL},
      </if>
      <if test="bigmoney != null">
        BIGMONEY = #{bigmoney,jdbcType=DECIMAL},
      </if>
      <if test="bigdaiDate != null">
        BIGDAI_DATE = #{bigdaiDate,jdbcType=DECIMAL},
      </if>
      <if test="yihuan != null">
        YIHUAN = #{yihuan,jdbcType=DECIMAL},
      </if>
      <if test="huanCard != null">
        HUAN_CARD = #{huanCard,jdbcType=DECIMAL},
      </if>
      <if test="shouCard != null">
        SHOU_CARD = #{shouCard,jdbcType=DECIMAL},
      </if>
      <if test="daiDate != null">
        DAI_DATE = #{daiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="onemoney != null">
        ONEMONEY = #{onemoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        "STATUS" = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where BOID = #{boid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaolian.demo.data.entity.Bigdaiorder">
    <!--@mbg.generated-->
    update BIGDAIORDER
    set USERSID = #{usersid,jdbcType=DECIMAL},
      BDID = #{bdid,jdbcType=DECIMAL},
      BIGMONEY = #{bigmoney,jdbcType=DECIMAL},
      BIGDAI_DATE = #{bigdaiDate,jdbcType=DECIMAL},
      YIHUAN = #{yihuan,jdbcType=DECIMAL},
      HUAN_CARD = #{huanCard,jdbcType=DECIMAL},
      SHOU_CARD = #{shouCard,jdbcType=DECIMAL},
      DAI_DATE = #{daiDate,jdbcType=TIMESTAMP},
      ONEMONEY = #{onemoney,jdbcType=DECIMAL},
      "STATUS" = #{status,jdbcType=DECIMAL}
    where BOID = #{boid,jdbcType=DECIMAL}
  </update>

  <select id="getBigdaiorderCount" parameterType="com.zhaolian.demo.web.util.BigdaiordeDTO" resultType="int">
select count(*) from BIGDAIORDER

</select>

  <select id="selectBigdaiorderByPage" parameterType="java.util.Map"  resultMap="BaseResultMap">
select * from (select row_number()
  over(order by Boid desc)no,b.* from BIGDAIORDER b
)temp
<if test='endIndex != null and endIndex!=""'>
			<![CDATA[where temp.no <=#{endIndex}]]>
		</if>
		<if test='startIndex != null and startIndex!=""'>
			and temp.no>=#{startIndex}
		</if>

</select>

<select id="selectalla" resultMap="BaseResultMap"  parameterType="java.lang.String">
select * from BIGDAIORDER
where boid in
<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>

</mapper>