<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaolian.demo.data.dao.BighuankuanMapper">
  <resultMap id="BaseResultMap" type="com.zhaolian.demo.data.entity.Bighuankuan">
    <!--@mbg.generated-->
    <!--@Table BIGHUANKUAN-->
    <id column="HID" jdbcType="DECIMAL" property="hid" />
    <result column="BOID" jdbcType="DECIMAL" property="boid" />
    <result column="LIUSHUI" jdbcType="DECIMAL" property="liushui" />
    <result column="ORDERCARD" jdbcType="DECIMAL" property="ordercard" />
    <result column="ZHIFUTYPE" jdbcType="VARCHAR" property="zhifutype" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="HUAN_DATE" jdbcType="TIMESTAMP" property="huanDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    HID, BOID, LIUSHUI, ORDERCARD, ZHIFUTYPE, MONEY, HUAN_DATE
  </sql>
  <select id="selectByExample" parameterType="com.zhaolian.demo.data.entity.BighuankuanExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BIGHUANKUAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from BIGHUANKUAN
    where HID = #{hid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    <!--@mbg.generated-->
    delete from BIGHUANKUAN
    where HID = #{hid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhaolian.demo.data.entity.BighuankuanExample">
    <!--@mbg.generated-->
    delete from BIGHUANKUAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhaolian.demo.data.entity.Bighuankuan">
    <!--@mbg.generated-->
    insert into BIGHUANKUAN (HID, BOID, LIUSHUI, 
      ORDERCARD, ZHIFUTYPE, MONEY, 
      HUAN_DATE)
    values (#{hid,jdbcType=DECIMAL}, #{boid,jdbcType=DECIMAL}, #{liushui,jdbcType=DECIMAL}, 
      #{ordercard,jdbcType=DECIMAL}, #{zhifutype,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{huanDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaolian.demo.data.entity.Bighuankuan">
    <!--@mbg.generated-->
    insert into BIGHUANKUAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hid != null">
        HID,
      </if>
      <if test="boid != null">
        BOID,
      </if>
      <if test="liushui != null">
        LIUSHUI,
      </if>
      <if test="ordercard != null">
        ORDERCARD,
      </if>
      <if test="zhifutype != null">
        ZHIFUTYPE,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="huanDate != null">
        HUAN_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hid != null">
        #{hid,jdbcType=DECIMAL},
      </if>
      <if test="boid != null">
        #{boid,jdbcType=DECIMAL},
      </if>
      <if test="liushui != null">
        #{liushui,jdbcType=DECIMAL},
      </if>
      <if test="ordercard != null">
        #{ordercard,jdbcType=DECIMAL},
      </if>
      <if test="zhifutype != null">
        #{zhifutype,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="huanDate != null">
        #{huanDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhaolian.demo.data.entity.BighuankuanExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from BIGHUANKUAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update BIGHUANKUAN
    <set>
      <if test="record.hid != null">
        HID = #{record.hid,jdbcType=DECIMAL},
      </if>
      <if test="record.boid != null">
        BOID = #{record.boid,jdbcType=DECIMAL},
      </if>
      <if test="record.liushui != null">
        LIUSHUI = #{record.liushui,jdbcType=DECIMAL},
      </if>
      <if test="record.ordercard != null">
        ORDERCARD = #{record.ordercard,jdbcType=DECIMAL},
      </if>
      <if test="record.zhifutype != null">
        ZHIFUTYPE = #{record.zhifutype,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        MONEY = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.huanDate != null">
        HUAN_DATE = #{record.huanDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update BIGHUANKUAN
    set HID = #{record.hid,jdbcType=DECIMAL},
      BOID = #{record.boid,jdbcType=DECIMAL},
      LIUSHUI = #{record.liushui,jdbcType=DECIMAL},
      ORDERCARD = #{record.ordercard,jdbcType=DECIMAL},
      ZHIFUTYPE = #{record.zhifutype,jdbcType=VARCHAR},
      MONEY = #{record.money,jdbcType=DECIMAL},
      HUAN_DATE = #{record.huanDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaolian.demo.data.entity.Bighuankuan">
    <!--@mbg.generated-->
    update BIGHUANKUAN
    <set>
      <if test="boid != null">
        BOID = #{boid,jdbcType=DECIMAL},
      </if>
      <if test="liushui != null">
        LIUSHUI = #{liushui,jdbcType=DECIMAL},
      </if>
      <if test="ordercard != null">
        ORDERCARD = #{ordercard,jdbcType=DECIMAL},
      </if>
      <if test="zhifutype != null">
        ZHIFUTYPE = #{zhifutype,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="huanDate != null">
        HUAN_DATE = #{huanDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where HID = #{hid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaolian.demo.data.entity.Bighuankuan">
    <!--@mbg.generated-->
    update BIGHUANKUAN
    set BOID = #{boid,jdbcType=DECIMAL},
      LIUSHUI = #{liushui,jdbcType=DECIMAL},
      ORDERCARD = #{ordercard,jdbcType=DECIMAL},
      ZHIFUTYPE = #{zhifutype,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      HUAN_DATE = #{huanDate,jdbcType=TIMESTAMP}
    where HID = #{hid,jdbcType=DECIMAL}
  </update>
</mapper>