<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaolian.demo.data.dao.IdcardMapper">
  <resultMap id="BaseResultMap" type="com.zhaolian.demo.data.entity.Idcard">
    <!--@mbg.generated-->
    <!--@Table IDCARD-->
    <id column="CARDID" jdbcType="DECIMAL" property="cardid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="IDCARD" jdbcType="VARCHAR" property="idcard" />
    <result column="FRONT" jdbcType="VARCHAR" property="front" />
    <result column="FAN" jdbcType="VARCHAR" property="fan" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    CARDID, "NAME", IDCARD, FRONT, FAN
  </sql>
  <select id="selectByExample" parameterType="com.zhaolian.demo.data.entity.IdcardExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IDCARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from IDCARD
    where CARDID = #{cardid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    <!--@mbg.generated-->
    delete from IDCARD
    where CARDID = #{cardid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhaolian.demo.data.entity.IdcardExample">
    <!--@mbg.generated-->
    delete from IDCARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhaolian.demo.data.entity.Idcard">
    <!--@mbg.generated-->
    insert into IDCARD (CARDID, "NAME", IDCARD, 
      FRONT, FAN)
    values (#{cardid,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{front,jdbcType=VARCHAR}, #{fan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaolian.demo.data.entity.Idcard">
    <!--@mbg.generated-->
    insert into IDCARD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardid != null">
        CARDID,
      </if>
      <if test="name != null">
        "NAME",
      </if>
      <if test="idcard != null">
        IDCARD,
      </if>
      <if test="front != null">
        FRONT,
      </if>
      <if test="fan != null">
        FAN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardid != null">
        #{cardid,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="front != null">
        #{front,jdbcType=VARCHAR},
      </if>
      <if test="fan != null">
        #{fan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhaolian.demo.data.entity.IdcardExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from IDCARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update IDCARD
    <set>
      <if test="record.cardid != null">
        CARDID = #{record.cardid,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null">
        "NAME" = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        IDCARD = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.front != null">
        FRONT = #{record.front,jdbcType=VARCHAR},
      </if>
      <if test="record.fan != null">
        FAN = #{record.fan,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update IDCARD
    set CARDID = #{record.cardid,jdbcType=DECIMAL},
      "NAME" = #{record.name,jdbcType=VARCHAR},
      IDCARD = #{record.idcard,jdbcType=VARCHAR},
      FRONT = #{record.front,jdbcType=VARCHAR},
      FAN = #{record.fan,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaolian.demo.data.entity.Idcard">
    <!--@mbg.generated-->
    update IDCARD
    <set>
      <if test="name != null">
        "NAME" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        IDCARD = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="front != null">
        FRONT = #{front,jdbcType=VARCHAR},
      </if>
      <if test="fan != null">
        FAN = #{fan,jdbcType=VARCHAR},
      </if>
    </set>
    where CARDID = #{cardid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaolian.demo.data.entity.Idcard">
    <!--@mbg.generated-->
    update IDCARD
    set "NAME" = #{name,jdbcType=VARCHAR},
      IDCARD = #{idcard,jdbcType=VARCHAR},
      FRONT = #{front,jdbcType=VARCHAR},
      FAN = #{fan,jdbcType=VARCHAR}
    where CARDID = #{cardid,jdbcType=DECIMAL}
  </update>
</mapper>